<div id="slide1">
  <div class="text-center">
    <img src="http://i.imgur.com/pZbW09L.png" class="top-center" />
  </div>
  <div class="text-center">
    <img src="http://i.imgur.com/cIJoqZn.png" class="top-center arrow" />
  </div>
</div>

<div id="slide2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="http://i.imgur.com/Z6S5s2Q.png" class="home-icon"/>
        <p class="lead">Kaboodle gives you the chance to earn money by developing your very own marketing plan.  First, we work with businesses to define the creative challenge they're facing and establish a prize pool.  Then, we call upon the Kaboodle community to help make the event a success.</h3>
      </div>
      <div class="col-md-4 text-center">
        <img src="http://i.imgur.com/xNK5emp.png" class="home-icon"/>
        <p class="lead">After choosing a contest, you can submit a marketing plan for the event.  Don't know how to write a marketing plan?  No worries.  We'll give instruction and ask questions to help you formulate a well thought-out proposal.</h3>
      </div>
      <div class="col-md-4 text-center">
        <img src="http://i.imgur.com/xxfYqmA.png" class="home-icon"/>
        <p class="lead">Once the contest deadline ends, we announce winners and give out cash prizes!  Choose a contest, submit your idea, and walk away with money.  It's really as easy as it sounds.</h3>
      </div>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="container">
    <div class="text-center home">
      <a href="/signup"><h4 class="btn btn-primary btn-md submit home-submit">Let's get started!</h4></a>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="container">
    <div class="text-center">
      <p>General Assembly Project 2, by Ashley Tindell & Josh Kushner</p>
      <p>©2014 Kaboodle</p>
    </div>
  </div>
</div>
