<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 contest-header">
      <div>
      <img src="{{ image_file }}" class="contest-image"/>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 prize">
      <h4 class="text-center">Total Prize Money: {{ selectedContest.prize | currency }}</h4>
    </div>
    <div class="col-md-4 deadline">
      <h4 class="text-center">Submission Deadline: (end date)</h4>
    </div>
    <div class="col-md-4 submit">
      <a href="#/submission"><h4 class="text-center">submit idea</h4></a>
    </div>
  </div>

  <div class="jumbotron contest-details">
    <h1>{{ selectedContest.title }}</h1>
    <h2>presented by: {{ selectedContest.company }}</h2>
    <hr />
    <h3>Overview:</h3>
    <p>{{ selectedContest.description }}</p>

    <h3>Event Date:</h3>
    <p>to be determined</p>

    <h3>Event Budget:</h3>
    <p>$12,000</p>
  </div>

  <div class="submit">
    <a href="#/submission"><h4 class="text-center">submit idea</h4></a>
  </div>
</div>

<div class="footer text-center">
  <hr />
  <p>© 2014 kaboodle</p>
</div>



