<div class="container-fluid">
  <h1 class="text-center">Current Contests</h1>
  <hr />
  <div class="jumbotron contests-list" ng-repeat="contest in contests">
     <div class="row"> 
      <div class="col-md-12 title">
        <h2>{{ contest.title }}</h2>
      </div>
      <img src="http://i.imgur.com/pbl9l6y.jpg" title="source: imgur.com" id="contests-image"/>
    </div>
    <div class="row">
      <div class="col-md-4 prize">
        <h4 class="text-center">Total Prize Money: {{ contest.prize | currency }}</h4>
      </div>
      <div class="col-md-4 deadline">
        <h4 class="text-center">Submission Deadline: (end date)</h4>
      </div>
      <div class="col-md-4 submit">
        <a href="#/contests/{{ contest.id }}"><h4 class="text-center" ng-click="selectContest(contest)">details</h4></a>
      </div>
    </div> 
  </div>
</div>
