/*---- contests page ----*/

#contests-image {
  width: 100%;
  top: 0; 
  left: 0;  
}

div.jumbotron.contests-list {
  background-color: transparent;
}

/*---- contest page ----*/

.col-md-12.contest-header{
  padding-left: 0;
  padding-right: 0;
  /*margin-bottom: 60px;*/
}

.contest-image {
  width: 100%;
}

div.jumbotron.contest-details {
  margin-bottom: 0px;
}

.title, .prize, .deadline, .submit {
  padding: 10px;
}

.title {
  background-color: none;
}

.prize, .deadline {
  background-color: #333333;
}

.prize h4, .deadline h4 {
  color: #ffffff;
}

button {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #F23036;
}

button h4 {
  color: #ffffff;
}

.submit {
  background-color: #F23036;
}

