/*---- contests page ----*/

#contests-image {
  width: 100%;
  top: 0;
  left: 0;
}

div.jumbotron.contests-list {
  background-color: transparent;
  margin-bottom: -30px;
}

.contests-title {
  background-color: #F89839;
  height: 100px;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 37px;
  font-family: 'Pacifico';
  font-size: 3.5em;
  height: 130px;
  font-weight: 300;
}

/*---- contest page ----*/

.col-md-12.contest-header {
  padding-left: 0;
  padding-right: 0;
}

.contest-image {
  width: 100%;
}

div.jumbotron.contest-details {
  margin-bottom: 0px;
}

.title, .prize, .deadline, .submit {
  padding: 8px;
}

.title {
  background-color: none;
}

.prize, .deadline {
  background-color: #333333;
}

.prize h4, .deadline h4 {
  color: #ffffff;
}

button h4 {
  color: #ffffff;
}

.submit {
  background-color: #F89839;
}
