@import "bootstrap";
@import "globals";
@import "dashboard";
@import "contests";
@import "questions";
@import "form";
@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,600);

body {
  padding-top: 65px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar-nav > li > a {
  padding-top: 25px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  padding: 8px 15px;
  height: 65px;
}

.navbar-brand > img {
  width: 190px;
}

/*.navbar {
  margin-bottom: 0px;
}*/

/*.container {
  width: 1130px;
}*/

.container .jumbotron {
  border-radius: 0px;
  /*margin-bottom: 0px;*/
}

a {
  text-decoration: none;
}

a h4 {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  margin: 50px auto 20px;
}

/*---- home ----*/

div.jumbotron.home {
  margin: 0 auto;
  width: 75%;
  margin-top: 60px;
}
